<option value="<%= url_for(@params.merge(genre: genre.id, page: 1)) %>"<%= @genre.try(:id) == genre.id ? ' selected="selected"' : '' %>>
	<%= t("genres.genre.#{genre.name.downcase.gsub(/[^a-z]+/, '')}") %>
</option>
