<h1 class="Write30">Explore our Developer Products</h1>
<div class="clear"></div>
<h2 class="Write30">- Στατιστικά</h2>
<div class="clear"></div>
<div class="Write20">Understand your audience.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Στατιστικά', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Μπορείς να κατεβάσεις την εφαρμογές στο κινητό σου και να την χρησιμοποιήσεις ως gamepad για διάφορα παιχνίδια στην indiexpo. Μόνο για Android.<br>
    Αν είσαι προγραμματιστής για παιχνίδια HTML5, κάνε κλικ στο στο πλαίσιο ελέγχου 'indiepad' όταν ανεβάσεις το παιχνίδι σου!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>