<h1 class="Write30">探索我們的開發人員產品</h1>
<div class="clear"></div>
<h2 class="Write30">- 统计</h2>
<div class="clear"></div>
<div class="Write20">了解您的受众群体</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'统计', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	在智能手机上下载该应用程序并将其用作游戏手柄，并在indiexpo上玩几款游戏。仅适用于Android。<br>
	如果你是 HTML5 游戏开发者，上载游戏时在选框上选取 indiepad 选项！
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>