<h1 class="Write30">Explore our Developer Products</h1>
<div class="clear"></div>
<h2 class="Write30">- Statistieken</h2>
<div class="clear"></div>
<div class="Write20">Understand your audience.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Statistieken', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Download the App on your smartphone and use it like a Gamepad with several games on indiexpo. Only for Android.<br>
	If you're a <strong>developer</strong> of <strong>HTML5 Games</strong>, click the check box 'indiepad' when you upload your game!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>