<h1 class="Write30">Спробуйте наші продукти для розробників.</h1>
<div class="clear"></div>
<h2 class="Write30">- Статистика</h2>
<div class="clear"></div>
<div class="Write20">Understand your audience.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Статистика', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Завантажте Android додаток, щоб використовувати телефон як джойстик для деяких ігор на indiexpo. <br>
	Якщо ви <strong>розробник HTML5-ігор </strong>, під час завантаження гри, встановіть прапорець "indiepad"!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>