<h1 class="Write30">Explore our Developer Products</h1>
<div class="clear"></div>
<h2 class="Write30">- Štatistiky</h2>
<div class="clear"></div>
<div class="Write20">Understand your audience.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Štatistiky', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Stiahnite si aplikáciu do svojho smartfónu a používajte ju ako gamepad s niekoľkými hrami na indiexpo. Iba pre Android.<br>
	If you're a <strong>developer</strong> of <strong>HTML5 Games</strong>, click the check box 'indiepad' when you upload your game!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>