<h1 class="Write30">Conheça nossos produtos para desenvolvedores</h1>
<div class="clear"></div>
<h2 class="Write30">- Estatísticas</h2>
<div class="clear"></div>
<div class="Write20">Entenda o seu público.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Estatísticas', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Baixe o aplicativo Indiepad em seu smartphone e use-o como um Gamepad para diversos jogos publicados no indiexpo. Disponível apenas para Android. <br>
	Se você é um <strong>desenvolvedor</strong> de jogos em <strong>HTML5</strong>, marque a caixa ''indiepad'' quando estiver enviando o game para nosso site!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>