<h1 class="Write30">Entdecke unsere Entwicklerprodukte</h1>
<div class="clear"></div>
<h2 class="Write30">- Statistik</h2>
<div class="clear"></div>
<div class="Write20">Lerne, deine Zielgruppe zu verstehen.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Statistik', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Laden Sie die App auf Ihrem Smartphone herunter und verwenden Sie es wie ein Gamepad für ausgewählte Spiele auf Indiexpo. Nur Für Android.<br>
	Wenn Sie ein <strong>HTML5 Spieleentwickler</strong> sind, der folgende Tasten benutzt: Z, X, ESC und PFEILE, klicken Sie auf das Kontrollkästchen 'indiepad', während Sie Ihr Spiel hochladen!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>