<h1 class="Write30">Zprawdź nasze produkty dla deweloperòw</h1>
<div class="clear"></div>
<h2 class="Write30">- Statystyki</h2>
<div class="clear"></div>
<div class="Write20">Understand your audience.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Statystyki', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Pobierz naszą aplikację na smartfony i używaj go jako kontroler dla wielu gier na indiexpo. Tylko na urządzenia z Androidem.<br>
	If you're a <strong>developer</strong> of <strong>HTML5 Games</strong>, click the check box 'indiepad' when you upload your game!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>