<h1 class="Write30">Utforska våra utvecklares produkter</h1>
<div class="clear"></div>
<h2 class="Write30">- Statistik</h2>
<div class="clear"></div>
<div class="Write20">Förstå din public.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Statistik', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Ladda ner appen på din smartphone och använd den som en gamepad med flertal spel på Indiexpo. Endast via Andriod.<br>
	Om du är en <strong>speldesigner som utvecklar HTML5-spel</strong>, klicka i rutan 'Indiepad' när ni laddar upp erat spel!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>