<h1 class="Write30">Scopri i nostri prodotti per gli sviluppatori</h1>
<div class="clear"></div>
<h2 class="Write30">- Statistiche</h2>
<div class="clear"></div>
<div class="Write20">Conosci il tuo pubblico.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Statistiche', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Scarica l'App sul tuo Smartphone e usala come Gamepad per diversi giochi su indiexpo. Solo per Android.<br>
	Se tu sei uno <strong>sviluppatore</strong> di <strong>Giochi HTML5</strong>, clicca sulla casella 'indiepad' quando carichi il tuo gioco!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>