<h1 class="Write30">Découvrez les produits destinés à nos développeurs</h1>
<div class="clear"></div>
<h2 class="Write30">- Statistiques</h2>
<div class="clear"></div>
<div class="Write20">Examinez votre audience.</div>
<%= image_tag 'Images/Sprites/stats.png', alt:'Statistiques', class:'WidFlo' %>
<h3 class="Write30">- indiepad</h3>
<div class="clear"></div>
<div class="Write20">
	Téléchargez l'application sur votre Smartphone et utilisez-le comme une console avec de nombreux jeux disponibles sur Indiexpo. Seulement pour Android.<br>
	Si vous êtes <strong>un développeur</strong> de <strong>jeux HTML5</strong>, clickez sur la case "indiepad" quand vous téléversez votre jeu!
</div>
<a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank">
	<%= image_tag 'Images/Sprites/indiepad_Google_Play.png' %>
</a>