<% content_for(:structured_data) do %>
	<%= render 'home/console/details/structured_data' %>
<% end %>
<% content_for(:meta_tags) do %>
	<%= render 'home/console/details/meta_tags' %>
<% end %>
<div id="all_games">
	<div class="Write20 WidFlo">Games</div>
	<%= render 'games/indiepad_games', games: @games, skip_pages: true %>
</div>
