<% content_for(:structured_data) do %>
	<%= render 'home/console/details/structured_data' %>
<% end %>
<% content_for(:meta_tags) do %>
	<%= render 'home/console/details/meta_tags' %>
<% end %>
<div id="all_games">
	<div class="Write20 WidFlo">Single Player</div>
	<div id="game_list">
		<!-- Single Game 1 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2357" data-use-indiepad="true" data-game-id="binary-boy" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Binary Boy" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/002/105/medium/0.jpg?1471350942">
		</a>
		<div class="caption">
			Binary Boy
			<br><span>Jared Johnson</span>
		</div>

		<!-- Single Game 2 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2397" data-use-indiepad="true" data-game-id="tree-house-quest" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Tree House Quest" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/006/205/medium/46262-shot0-1481598633.png-eq-900-500.jpg?1481891351">
		</a>
		<div class="caption">
			Tree House Quest
			<br><span>Angry Squirrels</span>
		</div>

		<!-- Single Game 3 -->
		<a data-play-online="https://www.indiexpo.net/en/play/5058" data-use-indiepad="true" data-game-id="in-to-the-wild" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Into The Wild" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/008/117/medium/In_To_The_Wild_L.gif?1510514084">
		</a>
		<div class="caption">
			Into The Wild
			<br><span>Freank</span>
		</div>

		<!-- Single Game 4 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2993" data-use-indiepad="true" data-game-id="faraon-fbd9d064-7d0c-424a-a632-e4e3e23d6338" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Faraon" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/007/042/medium/Titulo.png?1493763186">
		</a>
		<div class="caption">
			Faraon
			<br><span>IxelGames</span>
		</div>

		<!-- Single Game 5 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2340" data-use-indiepad="true" data-game-id="mom" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Mom" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/006/110/medium/mom1.jpg?1481096782">
		</a>
		<div class="caption">
			Mom
			<br><span>artgame</span>
		</div>

		<!-- Single Game 6 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2749" data-use-indiepad="true" data-game-id="drunken-viking" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Drunken Viking" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/006/700/medium/1.png?1488106605">
		</a>
		<div class="caption">
			Drunken Viking
			<br><span>congusbongus</span>
		</div>

		<!-- Single Game 7 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2508" data-use-indiepad="true" data-game-id="no-more-power-ups" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play No More Power UPS" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/006/335/medium/NMPU_screenshot2.png?1483459684">
		</a>
		<div class="caption">
			No More Power UPS
		<br><span>RisingPixel</span>
		</div>

		<!-- Single Game 8 -->
		<a data-play-online="https://www.indiexpo.net/en/play/5024" data-use-indiepad="true" data-game-id="kelin-s-delivery" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Kelin&#39;s Delivery: Rain" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/007/126/medium/kd_dialogue.png?1495251531">
		</a>
		<div class="caption">
			Kelin's Delivery: Rain
			<br><span>NeithR</span>
		</div>
		<!-- Single Game 9 -->
		<a data-play-online="https://www.indiexpo.net/en/play/5340" data-use-indiepad="true" data-game-id="bullet-looper" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Bullet Looper" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/010/346/medium/scrn4.png?1539292108">
		</a>
		<div class="caption">
			Bullet Looper
			<br><span>Daniel Gilchrist</span>
		</div>
		<!-- Single Game 10 -->
		<a data-play-online="https://www.indiexpo.net/en/play/3916" data-use-indiepad="true" data-game-id="fild-gold" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Find Gold" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/008/349/medium/findgold.p8_2.gif?1512943982">
		</a>
		<div class="caption">
			Find Gold!
			<br><span>Isogash</span>
		</div>
	</div>
	<div class="Write20 WidFlo">Two Players</div>
	<div id="game_list">
		<!-- 2 Players Game 1 -->
		<a data-play-online="https://www.indiexpo.net/en/play/3939" data-use-indiepad="true" data-game-id="d-a-v-e-against-the-mach" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play D.A.V.E." class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/006/071/medium/dave-full-gameplay.gif?1480328771">
		</a>
		<div class="caption">
			D.A.V.E.
			<br><span>soulweaver</span>
		</div>
		<!-- 2 Players Game 2 -->
		<a data-play-online="https://www.indiexpo.net/en/play/4712" data-use-indiepad="true" data-game-id="tennis-mix" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Tennis Mix" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/009/460/medium/Tennis_Mix_1.png?1529224029">
		</a>
		<div class="caption">
			Tennis Mix
			<br><span>LOL</span>
		</div>
		<!-- 2 Players Game 3 -->
		<a data-play-online="https://www.indiexpo.net/en/play/3429" data-use-indiepad="true" data-game-id="tower-capture" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Tower Capture" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/007/603/medium/banner_640.png?1502350475">
		</a>
		<div class="caption">
			Tower Capture
			<br><span>htmlhigh5 and Freank</span>
		</div>
		<!-- 2 Players Game 4 -->
		<a data-play-online="https://www.indiexpo.net/en/play/4930" data-use-indiepad="true" data-game-id="time-to-race" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Time to Race" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/009/834/original/Time_To_Race_1.png">
		</a>
		<div class="caption">
			Time To Race
			<br><span>LOL</span>
		</div>
		<!-- 2 Players Game 5 -->
		<a data-play-online="https://www.indiexpo.net/en/play/3386" data-use-indiepad="true" data-game-id="find-the-difference" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Find the Difference" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/007/513/medium/Castle.png?1501224411">
		</a>
		<div class="caption">
			Find the Difference
			<br><span>Freank</span>
		</div>
	</div>
	<div class="Write20 WidFlo">Four Players</div>
	<div id="game_list">
		<!-- 4 Players Game 1 -->
		<a data-play-online="https://www.indiexpo.net/en/play/4088" data-use-indiepad="true" data-game-id="fury" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Fury" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/008/505/medium/intro_back.png?1514802912">
		</a>
		<div class="caption">
			Fury
			<br><span>lol</span>
		</div>
		<!-- 4 Players Game 2 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2578" data-use-indiepad="true" data-game-id="splash-n-squash-party" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Splash &#39;n Squash Party" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/006/432/medium/Screen1.jpg?1485256426">
		</a>
		<div class="caption">
			Splash 'n Squash Party
			<br><span>RisingPixel</span>
		</div>
		<!-- 4 Players Game 3 -->
		<a data-play-online="https://www.indiexpo.net/en/play/4972" data-use-indiepad="true" data-game-id="escape-bit" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Escape Bit" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/009/918/medium/pacm_screen1.png?1533203762">
		</a>
		<div class="caption">
			Escape Bit
			<br><span>Wolf Corp</span>
		</div>
		<!-- 4 Players Game 4 -->
		<a data-play-online="https://www.indiexpo.net/en/play/2578" data-use-indiepad="true" data-game-id="splash-n-squash-party" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Splash &#39;n Squash Party" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/006/432/medium/Screen1.jpg?1485256426">
		</a>
		<div class="caption">
			Splash 'n Squash Party
			<br><span>RisingPixel</span>
		</div>
		<!-- 4 Players Game 5 -->
		<a data-play-online="https://www.indiexpo.net/en/play/3836" data-use-indiepad="true" data-game-id="color-race" class="box_screen_preview" href="javascript:void(0)">
			<img alt="Play Color Race" class="screen_preview" src="https://assets.indiexpo.net/system/screens/files/000/008/225/medium/title.png?1511797746">
		</a>
		<div class="caption">
			Color Race
			<br><span>Freank</span>
		</div>
	</div>
	<div class="Write20 WidFlo">Other Games</div>
	<%= render 'games/indiepad_games', games: @games, skip_pages: true %>
</div>
<%= content_for(:javascript) do %>
  <script>
  window.indiepadManager.setupGlobal(null);
  </script>
<% end %>