<div id="game_list" class="<%= defined?(genres) && 'with-genres' %>">
  <%= render partial: 'games/game', collection: games, locals: { position: local_assigns[:positions] } %>
  <div class="clear"></div>
  <% if !defined?(skip_pages) || !skip_pages %>
    <%= paginate games %>
  <% end %>
</div>
