<% content_for :menubar do %>
	<%= render 'errors/menubar' %>
<% end %>

<div class="WrapList">
	<div class="Write30 WidFlo">
		Where are you going?
	</div>

	<div class="Write20 WidFlo">
		You are not authorized to access this area
	</div>

	<!-- Image -->
	<%= image_tag 'Images/Sprites/401.png', class: 'right' %>
</div>
