$navbar-height: 42px;
#screen_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
	top: 0;
	background: rgba(0,0,0,0.8);
	background-image: asset-url('Images/icons/x.png');
	background-repeat: no-repeat;
	background-position: top 5px right 5px;
	z-index: 10;

	img {
		max-width: 98%;
		max-height: 96%;
		margin: 1%;
		border-radius: 4px
	}
}